/* ADD FORM */


.add-company-form {
    display: none;
}

#input-img-file {
    display: none;
}


/* UPDATE */


.update-company-form {
    display: none;
}

#input-img-file-update {
    display: none;
}

/* SORT | ARROW ICON IN TABLE */
.arrow_icon_margin {
    margin-left: 2.5px;
    margin-right: 2.5px;   
}
.table_heading:hover {
    opacity: 0.92;
}

.table_heading_active_asc .fa-arrow-up{
    color: yellow;
}

.table_heading_active_desc .fa-arrow-up{
    color: yellow;
    transform: rotate(180deg);
}
