.detail-container {
    margin-top: 16px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    padding: 12px;
    border-radius: 5px;
}

.tool-container {
    display: flex;
}

.btn-container {
    min-width: 100px;
    height: 46px;
    background-color: var(--purple);
    color: white;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 0 12px;
}

.btn-container:hover {
    cursor: pointer;
    background-color: #4d368f;
}

.icon-margin {
    margin-right: 5px;
}

.search-container {
    flex: 1;
    margin-right: 10px;
    position: relative;
}

.search-detail {
    width: 100%;
    height: 46px;   
    padding: 12px;
    font-size: 1.6rem;
    border-radius: 5px;
    outline: none;
    border: none;
}



/* INFO */

.detail-img {
    width: 300px;
    height: 300px; 
    background-image:url('/fe/assets/img/blank_img.png');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.info-container {
    padding: 32px;
    margin-bottom: 100px;
    
}

.img-info-container {
    display: flex;
}

.update-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.update-container {
    max-width: fit-content;
}

/* LIST INFO */
.detail-station__input-container {
    font-size: 1.4rem;
    margin-left: 32px;
    width: 800px;
    font-weight: 500;
}

/* INFOR HEADER */
.info-header {
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.85);
    padding: 0px 0px 8px 8px;
    font-weight: 500;

}


.separate {
    height: 1px;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;
    background-color: rgba(0, 0, 0, 0.2);
}

#input-img-file {
    display: none;
}

#input-img-file-update {
    display: none;
}

.detail-img-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%,-50%);
    z-index: 1;
    cursor: pointer;
    display: none;
}

.detail-img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.12);
    display: none;
}

.detail-img:hover.detail-img::after {
    display: block;
}
.detail-img:hover .detail-img-icon {
    display: block;
}






/* SEARCH */


.search-station-list {
    max-height: 400px;
    overflow-y: auto;
}

.search-station {
    position: absolute;
    left: calc(20%);
    top: calc(100% + 17px);
    width: calc(100% - 400px);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
    z-index: 2;
    display: none;
 
}

.search-station-item {
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.search-station-item:hover {
    cursor: pointer;
}

.search-station-item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.search-station-item a {
    display: flex;
    font-size: 1.6rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    align-items: center;
}

.search-station-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.item__img {
    width: 50px;
    height: 50px; 
    background-image:url('/fe/assets/img/blank_img.png');
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    margin-right: 12px;
}

.item__info {
    display: flex;
    flex-direction: column;
}

.item__code {
    margin-bottom: 8px;
}

.search-more {
    height: 40px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
}


.search-more:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.search-more__link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-station:hover {
    display: block;
}

.search-detail:focus ~ .search-station{
    display: block;
}


/* TEXTAREA  */
.detail__textarea {
    max-width: 800px;
    min-width: 800px;
    max-height: 250px;
    min-height: 100px;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    padding: 12px;
}

/* display selection */
.detail-station__group {
    position: relative;
}

.select-menu-update {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
}

/* display select in modal */
.add-station-form__group {
    position: relative;
}


.select-menu-add {
    position: absolute;
    top: calc(100% - 7px);
    left: 0;
}

.margin_bottom {
    margin-bottom: 12px;
}

/* fix text area in modal */
.add-station-form__textarea {
    padding: 8px;
    max-width: 500px;
    min-width: 500px;
    max-height: 84px;
    min-height: 84px;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
}

.add-station-form__controls {
    margin-top: 32px;
}

.change-password-form {
    display: none;
}

.add-station-form {
    display: none;
}