/* HEADER */
.header {
    height: 66px;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__info-item {
    display: flex;
    position: relative;
}


/* LOGO */
.app-info {
   text-decoration: none;
   align-items: center;
   color: var(--black);
   font-size: 1.8rem;
}

.app-info__logo-container
{
    height: 38px;
    width: 38px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin-right: 2rem;
}

.app-info__logo {
    font-size: 2.5rem;
    color: white;
}

.app-info__name {
    text-decoration: none;
    font-weight: 700;
}

.app-info__name-E {
    color: var(--purple);
}

/* ACCOUNT */

.user-acc {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--black);
    padding: 8px;
    margin-left: 10px;
    position: relative;
}

.user-acc:hover {
    cursor: pointer;
}


.user-acc__avt {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.user-acc__name {
    margin-left: 10px;
    font-size: 1.6rem;
}

/* SEPERATE */

hr {
    color: var(--purple);
}

/* TABS */

.tabs {
    display: flex;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 3px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #444;
}

/* .tab-item__text {
    color: #444;
} */

.header__tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--purple);
    transition: all 0.2s ease;
}

.tab-item:hover {
    opacity: 0.9;
    color: var(--purple);
    border-color: var(--purple);
    background-color: rgba(83, 56, 158, 0.1);
}


.tab-item:hover .tab-item__text {
    color: #444;
}


.tab-item.active {
    opacity: 1;
    border-color: var(--purple);
}

.tab-item.active .tab-item__icon {
    color: var(--purple);
}

.tab-item__icon {
    margin-right: 8px;
}

/* Account popup */
.user-info {
    width: 230px;
    border-radius: 15px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    padding: 8px 24px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    animation: FadeIn .3s ease;
    display: none;   
    z-index: 999;
}

.user-info-popup:hover .user-info {
    display: block;
}

.user-info::after {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 20px;
    top: -13px;
    right: 0;
}


.user-info__header {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 18px;
}

.user-info-avt {
    width: 50px;
    height: 50px; 
    margin-right: 12px; 
    border-radius: 50%;
}

.user-info-acc {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.user-info-name {
    margin-bottom: 2px;
}

.user-info-username {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.seperate-info {
    opacity: 0.5;
    margin: 8px 0;
}

.user-info__list {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.user-info-item {
    padding: 10px 0;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.user-info-item:hover {
    color: var(--purple);
    cursor: pointer;
} 


/*  */
.user-info-link {
    text-decoration: none;

}
/*  */

/* FILTER */
.filter {
    border: 1px solid #ccc;
    padding: 16px;
    margin-top: 16px;
}

.filter__header {
    font-size: 1.4rem;
}

.seperate-filter {
    margin: 15px 0;
    opacity: 0.5;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 20px;
  }

  .container + .container {
    margin-top: 30px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--purple);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.body-container {
    margin-top: 16px;
}

/* SEARCH + ADD */
.search-add-container {
    display: flex;
}

.search {
    border: none;
    font-size: 1.7rem;
    font-family: inherit;
    border: 1px solid #ccc;
    padding: 12px;
    flex: 1;
}

.search:focus {
    border: 1px solid var(--purple);
}

.add {
    background-color: var(--purple);
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-radius: 1px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px;
}

.add:hover {
    opacity: 0.8;
}


/* RESULT */
.result-sort-container {
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.sort {
    display: flex;
    align-items: center;
}

.sort__label {
    margin-right: 12px;
}


.edit {
    font-size: 1.4rem;
    color: var(--purple);
}

.edit:hover {
    opacity: 0.8;
}

/* <TABLE> */
.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
    margin-top: 16px;
}

.table tr {
    cursor: pointer;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover { 
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--purple);
    color: white;
}

/* </TABLE> */



/* FORM MODAL */

.form {
    font-size: 1.4rem;
    width: 800px;
}

.form__header {
    height: 56px;
    background-color: var(--purple);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    align-items: center;    
}

.form__heading {
    margin-left: 24px;
    font-size: 2rem;
}

.form__content {
    padding: 32px 32px 0px 32px;
    display: flex;
}

.form__img {
    width:200px;
    height:200px; 
    background-image:url('/fe/assets/img/blank_img.png');
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin-right: 32px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.form__img-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%,-50%);
    z-index: 1;
    cursor: pointer;
    display: none;
}

.form__img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.12);
    display: none;
}

.form__img:hover.form__img::after {
    display: block;
}

.form__img:hover .form__img-icon {
    display: block;
}


.form__input-container {
    flex: 1;
}
.form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__title {
    margin-bottom: 5px;
}

.form__input {
    height: 40px;    
    width: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    outline: none;
}

.form__input:focus {
    border-color: var(--purple);
} 

.form__controls {
    display: flex;
    justify-content: flex-end;
    padding: 12px 32px 32px 32px;
}

.btn.margin_btn {
    margin-right: 18px;
}


/* SELECT MENU */
.select-menu{
    width: 200px;
}

.select-menu .select-btn{
    display: flex;
    height: 40px;
    background: #fff;
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.4);
}
.select-btn i{
    font-size: 1.4rem;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.select-menu .options{
    position: relative;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    /* box-shadow: 0 0 3px rgba(0,0,0,0.1); */
    display: none;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 40px;
    cursor: pointer;
    padding: 0 12px;
    border-radius: 5px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #d4d4d4;
}
.option .option-text{
    font-size: 1.4rem;
    color: #333;
}

.option i {
    font-size: 1.4rem;
    margin-right: 10px;
}

/* WARNING MESSAGE */
.warning-message {
    font-size: 1.1rem;
    font-weight: 400;
    color: red;
    display: none;
}


/* FOOTER */
.footer {
    margin-top: 10rem;
}
