.form__textarea {
    padding: 8px;
    max-width: 500px;
    min-width: 500px;
    max-height: 84px;
    min-height: 84px;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
}


.margin_bottom {
    margin-bottom: 30px;
}

/* ADD FORM */
.add-station-form {
    display: none;
}

#input-img-file {
    display: none;
}





/* UPDATE FORM */
.update-station-form {
    display: none;
}

#input-img-file-update {
    display: none;
}



/* SELECT MENU ADD */
.modal__inner {
    position: relative;
}

.select-menu-add {
    position: absolute;
    top: 309px;
    left: 263px;
    margin-top: 2px;
    display: none;
}

/* SELECT MENU UPDATE */
.modal__inner {
    position: relative;
}

.select-menu-update {
    position: absolute;
    top: 387px;
    left: 263px;
    margin-top: 2px;
    display: none;
}


/* SORT | ARROW ICON IN TABLE */
.arrow_icon_margin {
    margin-left: 2.5px;
    margin-right: 2.5px;   
}
.table_heading:hover {
    opacity: 0.92;
}

.table_heading_active_asc .fa-arrow-up{
    color: yellow;
}

.table_heading_active_desc .fa-arrow-up{
    color: yellow;
    transform: rotate(180deg);
}