.separate-margin {
    margin-top: 20px;
}

.add-line-form__input-container {
    max-height: 500px;
    overflow-y: auto;
}

/*  */

.min-sec-container {
    display: flex;
}

.min-sec-option {
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 50px;
    height: 40px;
    text-align: center;
}

.min-sec-separate {
    font-size: 2rem;
    padding: 10px;
}

/* ADD LINE FORM */
.add-line-form {
    display: none;
}

/* SELECT COMPANY */
.select-company-form {
    display: none;
    min-height: 600px;
}

.select-company-form__content {
   
}

.select-company-form__group {
    margin-top: -10px;
}

.list-company {
    margin-bottom: 40px;
    max-height: 400px;
    overflow-y: auto;
}

.item-company {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.item-company:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.name-company {
    padding: 10px;
}


/* SELECT ROUTE */

.select-route-form {
    display: none;
    min-height: 600px;
}

.select-route__controls {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 100px;
}

/* .btn + .btn {
    margin-top: 20px;
} */

.btn-margin {
    margin-top: 20px;
}

.select-route-form__content {
    margin-bottom: 30px;
}

.list {
    height: 350px;
    overflow-y: auto;
}

.list-station {
    height: 350px;
    background-color: #f5f5f5;
}

.list-added {
    background-color: #f5f5f5;
    margin-top: 37px;
}

.item {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
}

.item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.item-station-selected:hover {
    cursor: pointer;
    background-color: rgba(83, 56, 158, 0.7);
}

.name {
    padding: 10px;
}

.item-station-selected {
    background-color: rgba(83, 56, 158, 0.8);
}

.title {
    font-size: 2rem;
}


/* SORT | ARROW ICON IN TABLE */
.arrow_icon_margin {
    margin-left: 2.5px;
    margin-right: 2.5px;   
}
.table_heading:hover {
    opacity: 0.92;
}

.table_heading_active_asc .fa-arrow-up{
    color: yellow;
}

.table_heading_active_desc .fa-arrow-up{
    color: yellow;
    transform: rotate(180deg);
}