:root {
    /* neutral colors */
    --text-color: #475467;
    --black: #101828;
    --grey: #667085;
    --light-grey: #d0d5dd;
    /* primary colors */
    --purple: #53389e;
    --light-purple: #9e77ed;
    --light-light-purple: #d6bbfb;
    /* feedback colors */
    --error: #f04438;
    --warning: #f79009;
    --success: #12b76a;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 600;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* .footer {
    flex: 1;
    position: relative;
}

.footer-container {
    width: 100%;
    height: 50px;
    background-color: var(--purple);
    position: absolute;
} */

/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
/* Test cho Responsive */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* Animation */
@keyframes FadeIn{
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    animation: 0.2s ease-in FadeIn;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}






/* Button Style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
}

.btn:hover {
    background-color:rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: white;
    background-color: var(--purple);
}



.btn.btn-disable {
    color: white;
    cursor: default;
    background-color: #999;
}

