:root {
    /* neutral colors */
    --text-color: #475467;
    --black: #101828;
    --grey: #667085;
    --light-grey: #d0d5dd;
    /* primary colors */
    --purple: #53389e;
    --light-purple: #9e77ed;
    --light-light-purple: #d6bbfb;
    /* feedback colors */
    --error: #f04438;
    --warning: #f79009;
    --success: #12b76a;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 600;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif !important;
    box-sizing: border-box;
}

/* .footer {
    flex: 1;
    position: relative;
}

.footer-container {
    width: 100%;
    height: 50px;
    background-color: var(--purple);
    position: absolute;
} */

/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
/* Test cho Responsive */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

.grid__column-6 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

.grid__column-12 {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

/* Animation */
@keyframes FadeIn{
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    animation: 0.2s ease-in FadeIn;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}






/* Button Style */
.btn {
    min-width: 100px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 4px 0px rgba(136, 136, 136, 0.8);
}

.btn:active {
    transform: translateY(1px);
}

.btn:hover {
    background-color:rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: white;
    background-color: var(--purple);
}

/* TAB ITEM */
.tab-item-link {
    text-decoration: none;
    color: #444;
}


/* KEYFRAME LOADER */
@keyframes spin78236 {
    0% {
    transform: rotate(0deg);
    }

    100% {
    transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%,
    100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
    }

    50% {
    transform: translateY(-66%) scale(0.65);
    opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%,
    100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
    }

    50% {
    transform: translateY(66%) scale(0.65);
    opacity: 0.8;
    }
}

/* LOADER */

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
    calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}
