:root {
    /* neutral colors */
    --text-color: #475467;
    --black: #101828;
    --grey: #667085;
    --light-grey: #d0d5dd;
    /* primary colors */
    --purple: #53389e;
    --light-purple: #9e77ed;
    --light-light-purple: #d6bbfb;
    /* feedback colors */
    --error: #f04438;
    --warning: #f79009;
    --success: #12b76a;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-weight: 600;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
/* Test cho Responsive */
.grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}

/* Animation */
@keyframes FadeIn{
    0% {
        opacity: 0;
        transform: translateY(-8px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}