.add-company-form {
    font-size: 1.4rem;
    width: 800px;
    display: none;
}
.add-company-form__header {
    height: 56px;
    background-color: var(--purple);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    display: flex;
    align-items: center;    
}
.add-company-form__heading {
    margin-left: 24px;
    font-size: 2rem;
}
.add-company-form__content {
    padding: 32px 32px 0px 32px;
    display: flex;
}
.add-company-form__img {
    width:200px;
    height:200px; 
    background-image:url('https://avatars.githubusercontent.com/u/103875393?s=400&u=45b000740a9cfdc553f7fb1ea8208f117f84a58e&v=4');
    border-radius: 50%;
    background-position: center;
    margin-right: 32px;
    position: relative;
}

.add-company-form__img-icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%,-50%);
    z-index: 1;
    cursor: pointer;
    display: none;
}

.add-company-form__img::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.12);
    display: none;
}

.add-company-form__img:hover.add-company-form__img::after {
    display: block;
}

.add-company-form__img:hover .add-company-form__img-icon {
    display: block;
}


.add-company-form__input-container {
    flex: 1;
}
.add-company-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add-company-form__title {
    margin-bottom: 5px;
}

.add-company-form__input {
    height: 40px;    
    width: 100%;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    outline: none;
}

.add-company-form__input:focus {
    border-color: var(--purple);
} 

.add-company-form__controls {
    display: flex;
    justify-content: flex-end;
    padding: 12px 32px 32px 32px;
}

.btn.margin_btn {
    margin-right: 5px;
}

/* .add-company-form__textarea {
    min-width: 500px;
    max-width: 500px;
    max-height: 75px;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    padding: 10px;
} */