/* Header */
.header {
    height: 66px;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.header__info {
    display: flex;
    justify-content: space-between;
}

.header__info-item {
    display: flex;
    position: relative;
}


/*  */
.app-info {
   text-decoration: none;
   align-items: center;
   color: var(--black);
   font-size: 1.8rem;
}

.app-info__logo-container
{
    height: 38px;
    width: 38px;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    margin-right: 2rem;
}

.app-info__logo {
    font-size: 2.5rem;
    color: white;
}

.app-info__name {
    text-decoration: none;
    font-weight: 700;
}

.app-info__name-E {
    color: var(--purple);
}

/*  */

.user-acc {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--black);
    padding: 8px;
    margin-left: 10px;
    position: relative;
}

.user-acc:hover {
    cursor: pointer;
}


.user-acc__avt {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.user-acc__name {
    margin-left: 10px;
    font-size: 1.6rem;
}

/*  */

hr {
    color: var(--purple);
}

/*  */

.tabs {
    display: flex;
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
}

.tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 3px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #444;
}

.header__tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: var(--purple);
    transition: all 0.2s ease;
}

.tab-item:hover {
    opacity: 0.9;
    color: var(--purple);
    border-color: var(--purple);
    background-color: rgba(83, 56, 158, 0.1);
}


.tab-item:hover .tab-item__text {
    color: #444;
}


.tab-item.active {
    opacity: 1;
    border-color: var(--purple);
}

.tab-item.active .tab-item__icon {
    color: var(--purple);
}

.tab-item__icon {
    margin-right: 8px;
}

/* Account popup */
.user-info {
    width: 230px;
    border-radius: 15px;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    padding: 8px 24px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    animation: FadeIn .3s ease;
    display: none;   
    z-index: 999;
}

.user-info-popup:hover .user-info {
    display: block;
}

.user-info::after {
    content: "";
    position: absolute;
    display: block;
    width: 150px;
    height: 20px;
    top: -13px;
    right: 0;
}


.user-info__header {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 18px;
}

.user-info-avt {
    width: 50px;
    height: 50px; 
    margin-right: 12px; 
    border-radius: 50%;
}

.user-info-acc {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.8);
}

.user-info-name {
    margin-bottom: 2px;
}

.user-info-username {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.seperate-info {
    opacity: 0.5;
    margin: 8px 0;
}

.user-info__list {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.6);
}

.user-info-item {
    padding: 10px 0;
}

.user-info-item:hover {
    color: var(--purple);
    cursor: pointer;
} 




/*  */

/* FILTER */
.filter {
    border: 1px solid #ccc;
    padding: 16px;
    margin-top: 16px;
}

.filter__header {
    font-size: 1.4rem;
}

.seperate-filter {
    margin: 15px 0;
    opacity: 0.5;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container + .container {
    margin-top: 30px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: var(--purple);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.body-container {
    margin-top: 16px;
}

/* SEARCH + ADD */
.search-add-container {
    display: flex;
}

.search {
    border: none;
    font-size: 1.7rem;
    font-family: inherit;
    border: 1px solid #ccc;
    padding: 12px;
    flex: 1;
}

.search:focus {
    border: 1px solid var(--purple);
}

.add {
    width: 50px;
    background-color: var(--purple);
    font-size: 3rem;
    color: white;
    text-align: center;
    border-radius: 1px;
    margin-left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add:hover {
    opacity: 0.8;
}
/*  */

/*  */
.result-sort-container {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

.sort {
    display: flex;
    align-items: center;
}

.sort__label {
    margin-right: 12px;
}


/* SORT */
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 200px;
  font-size: 1.4rem;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: var(--purple);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--purple);
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*  */

/* TABLE */
.table {
    margin-top: 16px;
}

.table-item {
    height: 60px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    margin: 8px 0;
}


.table-item__line {
    height: 100%;
    width: 5px;
    background-color: var(--purple);
}

.edit {
    font-size: 2rem;
    color: var(--purple);
    margin-right: 30px;
}

.edit:hover {
    opacity: 0.8;
}

/* This is ticket seller css */
.ticketseller{
    margin-top: 60px;
    height: 560px;
}
.ticketseller-item{
    height: 500px;
}
.ticketseller-item_img{   
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
}
.ticketseller-item_sellerlayout{
margin-left: 280px;
background-color: transparent   ;
height: 431px;
width: 400px;
}
.seller_header{
    justify-content:center;
    display: flex;
    height: 47px;
    background-color: transparent;
    width: 400px;
}
.seller_radiobutton{
    background-color: transparent;
    height: 47px;
    width: 400px;
}
/* Radio button */
.radio{
display: inline-flex;
align-items: center;
cursor: pointer;
margin-left: 40px;
margin-top: 10px;
font-size: 15px;
color: #ffffff;
padding-left: 30px;
}
.radio__input{
    display:none;
}
.radio + .radio{
    margin-left: 30px;
}
.radio__radio{
    width: 20px;
    height: 20px;
    border: 2px solid #d8e4e2;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}
.radio__radio::after{
content: "";
width: 14px;
height: 14px;
display:block;
background: #6941C6;
margin-top: 8.15px;
margin-left: 8.55px;
border-radius: 50%;
transform: translate(-50%,-50%) scale(0);
transition: 300ms ease-in-out 0s;
}
.radio__input:checked ~ .radio__radio:after{
    transform: translate(-50%,-50%) scale(1);
}

.seller_ticketid{
width: 400px;
height: 60px;
background-color:transparent ;
}
.ticketid{
    margin-left: 15px;
    position: relative;
}
/* Text field */
.text_field{
    border: 2px solid #6941C6;
    height: 45px;
    width: 150px;
    margin-top: 5px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    transition: all .3s;
    outline: none;
    color:#6941C6;
}
.tf_label{
    position: absolute;
    left: 25px;
    top: 20px;
    transform: all 0.2s;
    padding: 0 2px;
    transform: translateY(-50%);
    z-index: 1;
    color:#6941C6;
    transition: 0.25s ease;
    font-size: 11px;
}
.tf_label::before{
    content: "";
    height: 5px;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
    font-size: 12px;
}
.text_field:focus{
    border:2px solid #6941C6;
    font-size: 12px;
}
.text_field + .tf_label, 
.filled{
    top: 13px;
    margin-left: 5px;
    background-color:transparent;
    font-size: 12px;
}
.text_field::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all .3s;
}
.text_field:focus::placeholder{
    opacity: 1;
    animation-delay: 0.5s;
}
.ticketid + .lineid{
    margin-left: 195px;
}
.lineid{
    margin-top: -50px;
    position: relative;
}
.line_choice{
    display: flex;
    width: 400px;
    height: 70px;
    background-color: transparent;
    justify-content: center;
    align-items: flex-start;
}
/* Dropdown menu */
.dropdown_number{
width: 330px;
margin-left: 35px;  
}
.dropdown_number .select-btn{
    display: flex;
    height: 45px;
    padding: 12px 15px;
    background: #fff;
    font-size: 12px;
    font-weight: 600;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between ;
    color: #6941C6;
    cursor: pointer;
    border: #6941C6 solid 2px;
}
.caret{
    width: 0;
    width: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #6941C6;
    transition: 0.3s;
}
.dropdown_number .options{
    position: absolute;
    padding: 10px;
    font-size: 12px;
    color: #6941C6;
    width: 330px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: none;
    z-index: 2;
}
.dropdown_number.active .options{
    display: block; 
}
.select-btn div{
transition: 0.5s;   
}
.dropdown_number.active .select-btn div{
    transform: rotate(-180deg); 
}
.options .option{
    display: flex;
    height: 15px;
    cursor: pointer;
    padding: 0 8px;
    align-items: center;
}
.options .option:hover{
    background: #6941C6;
    color: #fff ;
}
/* dropdown_line */
.dropdown_line{
    margin-top: 15px;
    width: 330px;
    margin-left: 35px;  
    }
    .dropdown_line .select-btn{
        display: flex;
        height: 45px;
        padding: 12px 15px;
        background: #fff;
        font-size: 12px;
        font-weight: 600;
        border-radius: 10px;
        align-items: center;
        justify-content: space-between ;
        color: #6941C6;
        cursor: pointer;
        border: #6941C6 solid 2px;
    }
    .caret{
        width: 0;
        width: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 6px solid #6941C6;
        transition: 0.3s;
    }
    .dropdown_line .options{
        position: absolute;
        padding: 10px;
        font-size: 12px;
        color: #6941C6;
        width: 330px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
        display: none;
        z-index: 2;
    }
    .dropdown_line.active .options{
        display: block; 
    }
    .select-btn div{
    transition: 0.5s;   
    }
    .dropdown_line.active .select-btn div{
        transform: rotate(-180deg); 
    }
    .options .option{
        display: flex;
        height: 15px;
        cursor: pointer;
        padding: 0 8px;
        align-items: center;
    }
    .options .option:hover{
        background: #6941C6;
        color: #fff ;
    }
/* date and status */
.date_and_status{
    margin-top: 10px;
    width: 400px;
    height: 70px;
    background-color: transparent;
}
.date_choice{
    margin-left: 15px;
    position: relative;
    z-index: 1;
}
.status{
    margin-top: -50px;
    position: relative;
    z-index: 1;
}
.date_choice + .status{
    margin-left: 195px;
}
.tf_label_date{
        position:absolute;
        left: 25px;
        top: 20px;
        transform: all 0.2s;
        padding: 0 2px;
        transform: translateY(-50%);
        z-index: 1;
        color:#6941C6;
        transition: 0.25s ease;
        font-size: 11px;
}
.text_field + .tf_label_date, 
.filled{
    top: 13px;
    margin-left: 5px;
    background-color:transparent;
    font-size: 12px;
}
.date_choosing{
    width: 30px;
    height: 30px;
    border: 0;
    background: transparent;
    cursor: pointer;
}
.tf_label_date + .date_choosing,
.filled{
    margin-left: -35px;
}
.ticket_price{
    position: relative;
    margin-left: 5px;
}
.text_field_price{
    position: relative;
    border: 2px solid #6941C6;
    height: 45px;
    width: 330px;
    margin-top: 5px;
    margin-left: 30px;
    padding-left: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    transition: all .3s;
    outline: none;
    color:#6941C6;
    padding: 0 65px;
}
.tf_label_price{
    text-align: right;
    position: absolute;
    left: 35px;
    transform: all 0.2s;
    padding: 5px 10px 0px 0;
    transform: translateY(-50%);
    z-index: 1;
    color:#6941C6;
    transition: 0.25s ease;
    font-size: 11px;
}
.text_field_price + .tf_label_price, 
.filled{
    top: 13px;
    margin-left: 15px;
    margin-top: 12px;
    background-color:transparent;
    font-size: 12px;
}
.button_accept{
    width: 400px;
    height: 70px;
    background-color: transparent;
}
.accept-but{
    width: 330px;
    height: 60px;
    border-radius: 10px;
    background-color: #9370DB;
    border: 0;
    font-weight: bold;
    font-size: 20px;
    margin-top: 8px;
    margin-left: 35px;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
.accept-but:active{
    transform: translateY(2px);
}
/* toast */
#success_toast{
    z-index: 2;
    position: fixed;
    margin-left: 1110px;
    width: 350px;
}
.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid #47d864;
    padding: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    transition: all linear 0.25s;
    /* animation:  */
}
@keyframes slideinleft{
    from  {
        opacity: 0;
        transform: translateX(calc(100% + 15px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeout{
    to{
        opacity: 0;
    }
}
.toast_icon{
    font-size: 24px;
    color: #47d864;
}
.toast_icon, .toast_close{
    padding: 0 16px;
}
.toast + .toast{
    margin-top: 15px;
}
.toast_body{

}
.toast_title{
font-size: 16px;
font-weight: 600;
color: #333;
}
.toast_msg{
    font-size: 14px;
    color: #333;
}
.toast_close{
    margin-left: 50px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


